//Font Colors
$text-primary: rgba(0,0,0,.84);
$text-secondary: rgba(0,0,0,.54);

//Main Colors
$main-background: #ececec;

$accent-100: #80D8FF;
$accent-200: #40C4FF;
$accent-400: #00B0FF;
$accent-700: #0091EA;

$primary-50: #ECEFF1;
$primary-100: #CFD8DC;
$primary-200: #B0BEC5;
$primary-300: #90A4AE;
$primary-400: #78909C;
$primary-500: #607D8B;
$primary-600: #546E7A;
$primary-700: #455A64;
$primary-800: #37474F;
$primary-900: #263238;

$divider: rgba(0,0,0,.12);
$divider-alt: rgba(255,255,255,.12);